.mght-1 { margin: 0px 10px; }
.mght-2 { margin: 0px 20px; }
.mght-3 { margin: 0px 30px; }
.mght-4 { margin: 0px 40px; }
.mght-5 { margin: 0px 50px; }
.mght-6 { margin: 0px 60px; }
.mght-7 { margin: 0px 70px; }
.mght-8 { margin: 0px 80px; }
.mght-9 { margin: 0px 90px; }
.mght-10 { margin: 0px 100px; }
.mght-15 { margin: 0px 150px; }
.mght-16 { margin: 0px 160px; }

.mgbt-15 { margin-bottom: 150px; }
.mgbt-10 { margin-bottom: 100px; }
.mgbt-9 { margin-bottom: 90px; }
.mgbt-8 { margin-bottom: 80px; }
.mgbt-7 { margin-bottom: 70px; }
.mgbt-6 { margin-bottom: 60px; }
.mgbt-5 { margin-bottom: 50px; }
.mgbt-4 { margin-bottom: 40px; }
.mgbt-3 { margin-bottom: 30px; }
.mgbt-2 { margin-bottom: 20px; }
.mgbt-1 { margin-bottom: 10px; }

.mgrt-15 { margin-right: 150px; }
.mgrt-10 { margin-right: 100px; }
.mgrt-9 { margin-right: 90px; }
.mgrt-8 { margin-right: 80px; }
.mgrt-7 { margin-right: 70px; }
.mgrt-6 { margin-right: 60px; }
.mgrt-5 { margin-right: 50px; }
.mgrt-4 { margin-right: 40px; }
.mgrt-3 { margin-right: 30px; }
.mgrt-2 { margin-right: 20px; }
.mgrt-1 { margin-right: 10px; }

